<html>
    <head>
        <title>Practice mvc</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
           function axiosPost(){
                var form = document.getElementById("form_login");
                axios({
                    method: "post",
                    url: "/practice1",
                    data: {id: form.id.value, pw: form.pw.value}
                }).then(function(res){
                    console.log("axiosPost");
                    document.querySelector("#result").innerHTML = res.data;
                });
            }
        </script>
    </head>
    <body>
        <form id="form_login">
            아이디 : <input type="text" name="id"><br>
            비밀번호 : <input type="password" name="pw"><br>
            <button type="button" onclick="axiosPost();">axios post 로그인</button>
            <div style="text-align:center;" id="result"></div>
        </form>
    </body>
</html>