.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.my_info_container {
  display: flex;
  flex-direction: column;
}
.edit_profile {
  margin: 10px;
  border: none;
}

.delete_profile {
  margin: 10px;
}
.my_info {
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}
/* .info_pic {
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: 30%;
    margin: 10px auto;
  } */
.crew_container {
  display: flex;
  flex-direction: column;
}
.crew_card {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  align-items: center;
}
li {
  list-style: none;
}
.challenge_container {
  display: flex;
  flex-direction: column;
}
.challenge_card {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
.modal_footer {
  display: flex;
  justify-content: center;
}
.id {
  border: 1px solid black;
}
.password {
  border: 1px solid black;
}
