.sc-hBxehG {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.crewBox {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 40%;
  margin: 20px;
}

img {
  width: 260px;
  height: 260px;
  flex-wrap: wrap;
}

.chatBox {
  position: relative;
  top: 35%;
  left: 30%;
  background-color: #eaeaea;
}

.crewBtn {
  flex-wrap: wrap;
}
