실습 36. 파일 업로드- 동적
<html>
  <head>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  

        <script>
            function  fileUpload(){
                var form = document.getElementById("form_info");  
                const formData = new FormData(form);
              
            axios({
                method: "post",
                url: "/form2",
                data: formData,
                Headers: {
                    'Content-Type': 'multipart/form-data'
                }
                }).then((a) => { return a.data; })
                .then((d) => {
                    document.querySelector("img").src = d.path;
                });
            }
        </script>
        </head>

        <body>
        <form id="form_info"   enctype="multipart/form-data"> 
            <fieldset>
                <legend>개인정보</legend>
                아이디:<input type="text" name="id"><br>
                비밀번호:<input type="password" name="pw" ><br>
                이름:<input type="text" name="name"><br>
                나이:<input type="number" name="age" ><br>
            </fieldset>
            <input type="file" name="userfile">
            <button type="reset">리셋</button>
            <button type="button"  onclick="fileUpload();">회원가입</button>
        </form>
          <img>
    </body>
        

</html>

