<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
           function register(){
                let form = document.querySelector("#userForm"); // form을 사용하기 위해서
                let data = { id : form.id.value , pwd : form.pw.value , name : form.name.value }
                // 1. input 값이 들어왔는데 값이 없으면 
                // alert 창 띄우기 
                if(!form.id.value && !form.pw.value && !form.name.value){
                    alert("값을 입력해주세요");
                }
                axios({
                    method : "post",
                    url : "/user/signup",
                    data : data
                }).then((res)=>{
                    // console.log(res.data);
                    location.href = "/user/signin";
                })

            }

    </script>
</head>
<body>
    <form id="userForm">
        <h1>Welcome</h1>
        ID :<input type="text" id="id" name="id"> <br>   
        Password :<input type="password" id="pw" name="pw"> <br>    
        Name :<input type="text"  id="name" name="name"> <br> 
        <button type="button" onclick="register()">Resister</button>
        <a href="">Login</a>
    </form> 
</body>
</html>