<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>signup</title>
  </head>
  <body>
    <form action="" id="sign_form">
      <input type="text" name="id" value="id" /><br />
      <input type="text" name="pw" value="pw" /><br />
      <input type="text" name="name" value="name" /><br />
      <button type="button" onclick="signup()">전송</button>
    </form>
    <script>
      function signup() {
        var form = document.querySelector("#sign_form");
        let user = {
          id: form.id.value,
          pw: form.pw.value,
          name: form.name.value,
        };
        if (!form.id.value && !form.pw.value && !form.name.value) {
          alert("값을 입력해주세요");
        }
        axios({
          method: "post",
          url: "/signup",
          data: user,
        }).then((res) => {
          console.log(res);
          location.href = "/";
        });
      }
    </script>
  </body>
</html>
